
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/job.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <!-- Navbar kodları buraya ekleniyor -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CloudJob</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                       <img src="/indir.png" id = "foto"></img> 
                        
                    </li>
                    <li>
                        <a class="nav-link active" aria-current="page" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="job">JobCheck</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="signup">Üye Ol / Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="odeme" tabindex="-1" aria-disabled="true">Ödeme</a>
                        
                    </li>
                </ul>
               
            </div>
            
            <nav class="navbar navbar-dark bg-primary">
            <span class="navbar-text text-white font-weight-bold">
             
 
 <span class="navbar-text text-white font-weight-bold" name ="kim" id="welcomeMessage"  ></span>


            </span>
            </nav>
     </nav>        
        
        
        </div> 
   

     
        <ul>
    {{#each pays}}
        <li  class="blog-card" id = "welcomeMessage" >            
            <h4>Gönderici: {{this.odemead}}</h3>
            <p> blockchain adresi : {{this.odemeadres}}</p>
            <p>dosya : {{this.odemedosya}}</p>           
          <button class="remove-btn" onclick= "removeBlog('{{this.odemead}}')">Kaldır</button>
          <a class="ode-btn" href="/odeme">Öde</a>

        </li>
    {{/each}}
</ul>

    </div>

    

   

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- jQuery ve diğer JS dosyaları buraya ekleniyor -->
    <script>
       
       


    

 

   async function removeBlog(blogAdi) {
    console.log("calıstı");
  
    try {
        const response = await fetch(`/job/${blogAdi}`, {
            method: 'DELETE',
        });

        if (response.ok) {
            console.log('Silme işlemi başarılı.');
            location.reload(); // Silme işlemi başarılıysa sayfayı yenile
        } else {
            console.error('Silme işlemi başarısız.');
        }
    } catch (error) {
        console.error('Hata:', error);
    }
}


        
      </script>
</body>
</html>

 
