<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <select placeholder = "tip"  name ="tip" aria-label=".form-select-sm example">
        <option selected>Seçiniz...</option>
        <option value="admin">Admin</option>
        <option value="kullanıcı">Kullanıcı</option>       
        </select>
        <br>

        <input class="sub" type="submit" id ="kayit_test">

    </form>

       <a href="/">Go back to login page</a>

</body>
</html>